{%load static%}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand me-auto" href="{%url 'home'%}">
            <img id="logo" src="{% static 'images/logo1.png'%}" alt="picture" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--categories-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white;" href="{%url 'allproduct'%}">Our Product</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'category_summary'%}">All Categories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Bracelet'%}">Bracelet</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Earring'%}">Earring</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Necklace'%}">Necklace</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Ring'%}">Ring</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Sunglasses'%}">Sunglasses</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Watch'%}">Watch</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white;" href="{%url 'about'%}">AboutUs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: white;" href="{%url 'contact'%}">ContactUs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: white;" href="{%url 'result_analysis'%}">Result Analysis</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                    <span class="text-white me-3">Hello, {{ user.username }}</span>
                    <div class="dropdown me-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                        </ul>
                    </div>
                {% if user.is_superuser %}
                    <div class="dropdown me-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="orderDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Order</a>
                        <ul class="dropdown-menu" aria-labelledby="orderDropdown">
                            <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Orders to Ship</a></li>
                        </ul>
                    </div>
                {% endif %}
                    <a href="{% url 'logout' %}" class="custom-login-button me-3">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="custom-login-button me-3">Login/Register</a>
                {% endif %}
                    <a href="{% url 'cart_summary' %}" class="custom-login-button position-relative">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class=" badge rounded-pill" style="background-color: white; color: black;" id="cart_quantity">
                            {{ cart|length }}
                        </span>
                    </a>
            </div>
        </div>
    </div>
</nav>