{%load static%}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img id="logo" src="{% static 'images/logo1.png'%}" alt="picture" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--categories-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white;" href="{%url 'allproduct'%}">Our Product</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'category_summary'%}">All Categories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Bracelet'%}">Bracelet</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Earring'%}">Earring</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Necklace'%}">Necklace</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Ring'%}">Ring</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Sunglasses'%}">Sunglasses</a></li>
                        <li><a class="dropdown-item" href="{%url 'category' 'Watch'%}">Watch</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white;" href="{%url 'about'%}">AboutUs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: white;" href="{%url 'contact'%}">ContactUs</a>
                </li>
            </ul>
           <form>
                {% if user.is_authenticated%}
                <div class="row" style="margin-right: 10px;">
                    <div class="col-4" style="margin-top: 5px; color: white;text-align: justify;">
                        <p style="margin: 0;">Hello,{{ user.username }}</p>
                    </div>
                    <div class="col-2">
                        <a class=" nav-item dropdown nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;width: 70px;height: 30px;margin-left: 1px;text-align: center;margin-top: 4px;">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{%url 'update_user'%}">User Profile</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{%url 'update_info'%}">User Info</a></li> 
                        </ul>
                    </div>
                    {%if user.is_superuser%}
                        <div class="col-2">
                            <a class=" nav-item dropdown nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;width: 70px;height: 30px;margin-left: 1px;text-align: center;margin-top: 4px;">Order</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{%url 'shipped_dash'%}">Shipped Orders</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{%url 'not_shipped_dash'%}">Orders to Ship</a></li> 
                            </ul>
                        </div>
                    {%endif%}
                        <div class="col-2" style="margin-top: 5px;">
                            <a href="{%url 'logout'%}" class="custom-login-button">Logout</a>
                        </div>
                    
                </div>
                    
                {%else%}
                    <a href="{%url 'login'%}" class="custom-login-button">Login/Register</a>
                {%endif%}

           </form>
           


            <form style="margin-left: 0px;" >
                <a href="{%url 'cart_summary'%}" class="custom-cart-button">
                    <i class="bi-cart-fill me-1" ></i>
                    Cart
                    <span class="badge ms-1 rounded-pill" style="background-color: white; color: black;" id="cart_quantity">{{cart|length}}</span>
                </a>   
            </form>
        </div>
    </div>
</nav>